body {
    background: url('img/free-cute-green-aesthetic-background-u8pu8.jpg') center no-repeat;
    background-size: cover;

}

.pass-recovery-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;

    .form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: solid 2px #A9CEA3;
        border-radius: 10px;
        padding: 20px 30px 25px 30px;
        position: relative;
        backdrop-filter: blur(10px);

        .form-title {
            position: absolute;
            background-color: #E0F0C1;
            z-index: 1;
            right: 20px;
            top: -24px;
            font-size: 23px;
            padding: 5px 10px;
            color: #92c58a;
            cursor: default;
        }

        .input-block {
            position: relative;
            padding: 0 0 20px 0;
            width: 300px;
            height: 60px;
            margin-top: 20px;

            input {
                border: 2px solid #A9CEA3;
                background-color: transparent;
                width: 100%;
                height: 40px;
                padding: 0px 15px;
                font-size: 16px;
                outline: none;
                border-radius: 5px;
    
                &::placeholder {
                    color: #92c58a;
                }
            }
        }

        .error-message {
            position: absolute;
            opacity: 1;
            color: red;
            font-size: 14px;
        }

        .submit-btn {
            height: 35px;

            button {
                height: 100%;
                width: 100%;
                background-color: transparent;
                color: #92c58a;
                font-family: inherit;
                cursor: pointer;
                border: 2px solid #A9CEA3;
                transition: 0.2s;
                border-radius: 5px;
                font-size: 20px;

                &:hover {
                    background-color: #A9CEA3;
                    color: white;
                }
            }
        }

    }
}