.main-block-wrapper {
    padding: 20px 40px;
    display: flex;
    background-color: red;
    flex-direction: column;

    .user-info {

        .user-pic {
            height: 100%;
            width: 100%;
        }

        .user-name {
            font-size: 24px;
            font-weight: 600;
        }
    }

    .user-blogs-list {
        background-color: gray;
        border-radius: 15px;
        padding: 10px;
        width: 800px;
        max-width: 100%;


        ul {
            list-style: none;
        }
    }
}