@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
    font-style: normal;
}

.container {
    width: 1550px;
    max-width: 100%;
    margin: 0 auto;
}

.header {
    border-bottom: 2px solid #F2F2F2;

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;

        .header-left-side {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            .header-logo a {
                text-decoration: none;
                font-size: 35px;
                font-weight: 600;
                color: black;
            }

            .header-search {
                width: 250px;
                height: 50px;
                position: relative;

                span {
                    position: absolute;
                    left: 10px;
                    top: 58%;
                    transform: translateY(-50%);
                    color: #6B6B6B;
                    font-size: 25px;
                }

                input {
                    height: 100%;
                    width: 100%;
                    border-radius: 50px;
                    outline: none;
                    border: none;
                    background-color: #F9F9F9;
                    padding: 0 20px 0 45px;
                    font-size: 18px;

                    &::placeholder {
                        color: #6B6B6B;
                        font-size: 18px;
                    }
                }
            }
        }

        .header-right-side {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            .write-btn a {
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 10px;
                color: #6B6B6B;
                font-size: 25px;

                span {
                    font-size: 20px;
                }
            }

            .user-profile {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            .menu-btn {
                font-size: 25px;
                cursor: pointer;
                display: none;
            }
        }


    }
}

.home-blog-nav {
    position: relative;
    width: 750px;
    height: 50px;
    padding: 0px 35px 0px 35px;
    overflow: hidden;
    display: flex;
    align-items: center;
    // background-color: red;
    border-bottom: 2px solid #F2F2F2;
    

    .blog-nav-scroll-btns {

        .scroll-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-40%);
            background-color: transparent;
            border: none;
            font-size: 24px;
            cursor: pointer;
        }

        .btn1 {

            left: 0px;
        }

        .btn2 {
            right: 0;
        }
    }

    .blog-nav-content-btns {

        overflow: hidden;
        height: 100%;
        display: flex;
        align-items: center;

        .content-btns {
            display: flex;
            align-items: center;
            gap: 60px;

            span {
                font-size: 14px;
                height: 50px;
                display: flex;
                align-items: center;
                cursor: pointer;
                color: #6B6B6B;
            }

            span.active {
                border-bottom: 1px solid black;
                color: black;
            }

        }
    }

}

.content-block {
    padding: 30px 0;

    .blog-block {
        border-bottom: solid 2px #e6e4e4;
        padding: 0 0 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .blog-main-info {
            display: flex;
            flex-direction: column;
    
            .blog-title a{
                font-size: 30px;
                font-weight: 600;
                color: black;
            }
        }

        .blog-content {
            font-size: 18px;
        }

        .blog-info {
            font-size: 14px;
        }
    }

    .blog-block:not(.blog-block:first-child) {
        padding: 20px 0;
    }

    

    
}

@media screen and (max-width: 700px) {
    .header {
        .header-wrapper {
            padding: 10px;

            .header-left-side {
                .header-search {
                    display: none;
                }
            }

            .header-right-side {
                .write-btn {
                    display: none;
                }

                .menu-btn {
                    display: flex;
                }
            }
        }
    }
}